@font-face
{
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}

.blogContainer
{
  display: flex;
  flex-direction: row;
  min-height: 80vh;
  background: #CFC7FF;
  max-width: 100vw;
  font-size: 1.25rem;
  padding: 1rem;
}

.blog
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.postCard
{
  display: flex;
  flex-direction: column;
  background-color: #00A4D6;
  padding: 2rem;
  width: 70%;
  border: solid #03002E;
  margin-bottom: 1vh;
}

.postButton
{
  display: inline-block;
  padding: 1rem;
  margin-top: 1vh;
  border: .2rem solid #03002E;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  flex-direction: column;
  background-color: #03002E;
}

.buttonText
{
  color: #F8F1FF;
}

.buttonText:hover
{
  color: #006E90;
  border-color: #006E90;
}

.buttonText 
{
  color: inherit;
  text-decoration: none;
}


.headers
{
  text-align: center;
  border: solid #03002E;
}

.widgetContainer
{
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 2rem;
}

.widgetItem
{
  display: flex;
  flex-direction: column;
  color: #03002E;
  background: white;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.widgetItemLink:hover
{
  color: #03002E;
}

h3
{
  border-bottom: .2rem solid #03002E;
}

.category
{
  display: block;
  color: black;
}

.blogPost
{
  display: flex;
  flex-direction: column;
  background-color: #00A4D6;
  padding: 2rem;
  width: 90%;
  border: solid #03002E;
  margin-bottom: 1vh;
}

.content
{
  display: flex;
  flex-direction: column;
}

div:nth-of-type(2) p
{
  margin-top: 1rem;
  margin-bottom: .25rem;
}

.sidebar
{
  display: grid;
  align-items: center;
}

.authorContainer
{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  border: solid #03002E;
  padding-left: 35%;
  padding-right: 35%;
}

.authorImg
{
  max-width: 100%;
  height: auto;
  object-fit: contain;
  padding-bottom: 10px;
}

.commentsFormHolder
{
  background-color: rgba(0, 0, 0, 0.3);
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1vh;
  width: 30%;
  border: solid #03002E;
  margin-top: 1vh;
  display: flex;
  flex-direction: column;
}

.commentsFormComment
{
  display: grid;
}

.commentsFormMsg
{
  padding-bottom: 2vh;
  font-family: "Roboto";
  font-size: 1rem;
}

.commentsFormInfo
{
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 1vh;
}

.commentsFormName
{
  font-family: "Roboto";
  font-size: 1rem;
}

.commentsFormEmail
{
  font-family: "Roboto";
  font-size: 1rem;
}

.saveContainer
{
  display: grid;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.checkbox
{
  width: 1.2rem;
  height: 1.2rem;
  margin-left: 0;
}

.saveLabel
{
  font-size: 1.25rem;
}

.errorMsg
{
  color: red;
  font-size: 1.25rem;
}

.commentButtonContainer
{
  display: block;
}

.commentButton
{
  display: inline-block;
  padding: .5rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin-top: 1vh;
  border: .2rem hidden;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  flex-direction: column
}

.successMsg
{
 font-size: 1.25rem; 
}
