@font-face
{
    font-family: "Montserrat";
    src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.footerContainer
{
    display: flex;
    flex-direction: row;
    background: #03002E;
    justify-content: center;
    align-items: center;
    font-size: clamp(20px, 3vw, 32px);
    height: 10vh;
    color: #F8F1FF;
}

.contactInfo
{
    display: flex;
    padding: 1vh 5vw;
    height: 40%;
}

img
{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}

ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

a
{
    color: #00A4D6;
    text-decoration: none;
}

li
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

@media (max-width: 320px)
{
    .footerContainer
    {
        height: auto;

    }

    ul
    {
        gap: 1.5rem;
    }
}