@font-face {
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}

.homeContainer
{
    display: flex;
    height: 95vh;
    background: #CFC7FF;
    flex-direction: row;
    max-width: 100vw;
    font-size: 20px;
    padding: 1rem;
}

.about
{
    display: flex;
    background-color: #006E90;
    width: 30vw;
    padding: 1rem;
}

.homeContent
{
    display: flex;
    width: 70vw;
    padding: 1rem;
    padding-left: 2vw;
}
