@font-face
{
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}

.homeContainer
{
    display: flex;
    min-height: 80vh;
    background: #CFC7FF;
    flex-direction: row;
    max-width: 100vw;
    font-size: clamp(14px, 2.5vw, 20px);
    padding: 1rem;
}

.about
{
    display: flex;
    flex-direction: column;
    background-color: #00A4D6;
    width: 40vw;
    padding: 1rem;
}

.aboutImgContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutImg
{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border: solid #03002E;
}

.aboutContent
{
    text-align: justify;
    text-justify: inter-word;
    padding: 0.5rem;
}

.homeContent
{
    display: flex;
    flex-direction: column;
    width: 60vw;
    padding: 1rem;
    padding-left: 2vw;
}

p
{
    margin-bottom: 0rem;
}

h1
{
    display: block;
    text-align: center;
}

@media (max-width: 768px) {
    .homeContainer 
    {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .about
    {
        width: 80vw;
    }

    .homeContent
    {
        width: 80vw;
    }
}
