@font-face {
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.navBarContainer
{
    display: flex;
    flex-direction: row;
    background: #03002E;
    justify-content: space-between;
}

.leftSide
{
    display: flex;
    color: #F8F1FF;
    font-family: "Montserrat";
    padding-top: 1vh;
    padding-left: 5vw;
    padding-bottom: 1vh;
    font-size: 30px;
}

.rightSide
{
    display: flex;
    color: #F8F1FF;
    font-family: "Montserrat";
    justify-content: space;
    padding-top: 1vh;
    padding-right: 5vw;
    padding-bottom: 1vh;
    font-size: 30px;
}
