@font-face
{
  font-family: "Montserrat";
  src: url("../../public/fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

.navBarContainer
{
    display: flex;
    flex-direction: row;
    background: #03002E;
    justify-content: space-between;
    align-items: center;
    font-size: clamp(20px, 3vw, 32px);
    height: 10vh;
}

.navBarContainer a
{
    color: inherit;
    text-decoration: none;
}

.leftSide
{
    display: flex;
    color: #F8F1FF;
    padding-top: 1vh;
    padding-left: 5vw;
    padding-bottom: 1vh;
}

a:hover
{
    color: #006E90;
}

.rightSide
{
    display: flex;
    color: #F8F1FF;
    justify-content: space-between;
    padding-top: 1vh;
    padding-right: 5vw;
    padding-bottom: 1vh;
}

.rightSide ul
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
}

@media (max-width: 320px)
{
    .navBarContainer
    {
        height: auto;
        padding: 1rem 1rem;
    }

    .leftSide
    {
        padding: 0;
        width: 33%;
        justify-content: center;
    }

    .rightSide {
        padding: 0;
        justify-content: center;
        width: 66%; /* This is a magic number but I don't think it can be solved. Change %'s if blog is added back.*/
    }

    .rightSide ul
    {
        gap: 1.5rem;
        align-items: center;
    }

}
