@font-face
{
  font-family: "Roboto";
  src: url("../../public/fonts/Roboto-Regular.ttf") format("truetype");
}

.pageContainer
{
    display: flex;
    align-items: center;
    background: var(--color-background);
    flex-direction: row;
    max-width: 100vw;
    font-size: 1.25rem;
    padding: 1rem;
    color: var(--color-primary)
}

.projectContainer
{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    background: var(--color-background);
    align-content: center;
    max-width: 100vw;
    font-size: 1.25rem;
}

.projectCard
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-accent);
    padding: 2rem;
    /*padding-bottom: 0; Why did I do this? */
    width: 70%;
    border: solid var(--color-outline);
    margin-bottom: 1vh;
}

h2
{
    border-bottom: solid thick var(--color-outline);
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectCard p
{
    align-self: stretch;
}

.projectCard p:last-child
{
    align-self: center;
}

.projectCard a
{
    color: var(--color-background); /* Might need to rename the var but I'm just experimenting currently */
    text-decoration: underline;
}
